<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<!-- On Windows machines setting withJansi to true enables ANSI color code 
		interpretation by the Jansi library. This requires org.fusesource.jansi:jansi:1.8 
		on the class path. Note that Unix-based operating systems such as Linux and 
		Mac OS X support ANSI color codes by default. -->
		<useJansi>true</useJansi>
		<encoder>
			<!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
			<pattern>
				<!-- Usar %highlight y colores si se quiere -->
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>c:/logsiQuality/logFile.log</file>

		<!-- From logback manual: "Indeed, TimeBasedTriggeringPolicy implements 
			both RollingPolicy and TriggeringPolicy interfaces." -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
			<pattern>%-4relative [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>

	</appender>

	<logger name="com.indra.iquality.controller" level="debug"
		additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="com.indra.iquality.dao.jdbctemplateimplem" level="debug"
		additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

	<root level="error">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>