<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employeeDAO" class="com.indra.iquality.dao.EmployeeDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="employeeDAOJDBCTemplate" class="com.indra.iquality.dao.EmployeeDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	

	<bean id="lk_met_pla_ctrl_paseDAOJDBCTemplate" class="com.indra.iquality.dao.LK_MET_PLA_CTRL_PASEDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="lk_met_pla_ctrl_pase_jobDAOJDBCTemplate" class="com.indra.iquality.dao.LK_MET_PLA_CTRL_PASE_JOBDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="paseDAOJDBCTemplate" class="com.indra.iquality.dao.impl.PaseDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="jobDAOJDBCTemplate" class="com.indra.iquality.dao.impl.JobDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
<!-- 		<property name="url" value="jdbc:oracle:thin:@localhost:1521:ORCL2" /> -->
<!-- 		<property name="username" value="SYSTEM" /> -->
<!-- 		<property name="password" value="Oracle_1" /> -->
		<property name="url" value="jdbc:oracle:thin:@vdccodbt02.dacfipre.es:1527:DMST01" />
		<property name="username" value="DMSADMIN" />
		<property name="password" value="DMS4_des" />
	</bean>

</beans>
