<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- JDBCTemplateImpl DAOs -->
	
	<bean id="flowDAOJDBCTemplate" class="com.indra.iquality.dao.jdbctemplateimplem.FlowDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="executionDAOJDBCTemplate" class="com.indra.iquality.dao.jdbctemplateimplem.ExecutionDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="jobDAOJDBCTemplate" class="com.indra.iquality.dao.jdbctemplateimplem.JobDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="dependencyDAOJDBCTemplate" class="com.indra.iquality.dao.jdbctemplateimplem.DependencyDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="dictionaryOfConceptsDAOJDBCTemplate" class="com.indra.iquality.dao.jdbctemplateimplem.DictionaryOfConceptsDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="registerOfOperationsDAOJDBCTemplate" class="com.indra.iquality.dao.jdbctemplateimplem.RegisterOfOperationsDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="traceOfRegisterDAOJDBCTemplate" class="com.indra.iquality.dao.jdbctemplateimplem.TraceOfRegisterDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="businessCertificateDAOJDBCTemplate" class="com.indra.iquality.dao.jdbctemplateimplem.BusinessCertificateDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="technicalCertificateDAOJDBCTemplate" class="com.indra.iquality.dao.jdbctemplateimplem.TechnicalCertificateDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="environmentDAOJDBCTemplate" class="com.indra.iquality.dao.jdbctemplateimplem.EnvironmentDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="fileLoadDAOJDBCTemplate" class="com.indra.iquality.dao.jdbctemplateimplem.FileLoadDAOJDBCTemplateImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
<!-- 		<property name="url" value="jdbc:oracle:thin:@localhost:1521:ORCL2" /> -->
<!-- 		<property name="username" value="SYSTEM" /> -->
<!-- 		<property name="password" value="Oracle_1" /> -->
		<property name="url" value="jdbc:oracle:thin:@vdccodbt02.dacfipre.es:1527:DMST01" />
		<property name="username" value="DMSADMIN" />
		<property name="password" value="DMS4_des" />
	</bean>

</beans>
